*.data
*.map
*.mov
*.out
*.tar*

process/*.out
process/*.data
process/*.avi
process/*.gch
process/*.tar*

devtool/viewer/*.out
devtool/viewer/glew.c
devtool/viewer/*.gch

devtool/roadmap/*.out
devtool/roadmap/*.gch
devtool/roadmap/docs/*.odg

devtool/textmap/*.out
!devtool/textmap/src.data

.vscode/settings.json
